$normal_color: #333;
$normal_bgc:#e0e0e0;
$normal_border:1px solid #ccc;
$normal_border_focus:1px solid #999;

$normal_error_color:#933;
$normal_error_bgc:#fee;
$normal_error_border:1px solid #500;


$normal_fsz:14px;
$normal_input_fsz:12px;


$normal_item_height:2.5em;
$normal_item_padding:0 5px;
