@import "../ext";
$BP1:31rem;
$BP2:41rem;
$BP3:47rem;
$BP4:59rem;
$BP5:67rem;
$BP6:73rem;
$BP7:83rem;
$BP8:97rem;
$BP9:103rem;
$BP10:109rem;
$BP11:127rem;
$BP12:137rem;
$BP13:149rem;

.DF{
    display: flex;
    &.W{flex-wrap: wrap;}
    &.FDC{flex-direction: column;}
    &.AIC{align-items: center;}
    &.AIE{align-items: flex-end;}
    &.JCB{justify-content: space-between;}
    &.JCC{justify-content: center;}
    &.JCE{justify-content: flex-end;}
    >.FA{flex: auto;}
    >.FG2{flex-grow: 2;}
    >.FG3{flex-grow: 3;}
    >.FG4{flex-grow: 4;}
    >.FG5{flex-grow: 5;}
    >.FN{flex: none;}
    >.ASS{align-self: flex-start;}
    >.ASE{align-self: flex-end;}
    //col
    >.C1{min-width: 10%;}
    >.C2{min-width: 20%;}
    >.C3{min-width: 30%;}
    >.C4{min-width: 40%;}
    >.C5{min-width: 50%;}
    >.C6{min-width: 60%;}
    >.C7{min-width: 70%;}
    >.C8{min-width: 80%;}
    >.C9{min-width: 90%;}
}

@media screen and (max-width:$BP1){
    .BP1{
        &.DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP2){
    .BP2{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP3){
    .BP3{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP4){
    .BP4{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP5){
    .BP5{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP6){
    .BP6{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP7){
    .BP7{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP8){
    .BP8{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP9){
    .BP9{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP10){
    .BP10{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP11){
    .BP11{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP12){
    .BP12{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}

@media screen and (max-width:$BP13){
    .BP13{
        &,DF{display: block;}
        &.C1, &.C2, &.C3, &.C4, &.C5, &.C6, &.C7, &.C8, &.C9{
            display: block;
            flex:none;
            width: 100%;
        }
    }
}
